 <div class="row mb-4 medialogin">
    <div class="col-md-4 brdr-r-1">
      <a href="javascript://" (click)="socialSignIn('google')"><img class="pr-3" src="assets/images/signup/ic_google.svg">Google</a>
    </div>
    <!-- <div class="col-md-4 brdr-r-1">
      <a href="javascript://" (click)="socialSignIn('instagram')"><img class="pr-3" src="assets/images/signup/ic_instagram.svg">Instagram</a>
    </div> -->
    <div class="col-md-4">
      <a href="javascript://" (click)="socialSignIn('facebook')" ><img class="pr-3" src="assets/images/signup/ic_facebook.svg">Facebook</a>
    </div>
    <!-- <div class="col-md-4">
      <a href="javascript://" (click)="socialSignIn('instagram')" ><img class="pr-3" src="assets/images/signup/ic_facebook.svg">Instagram</a>
    </div> -->
</div>
<!-- <div class="socialoption" class="text-center">- {{ts?.lang?.OR}} -</div> -->
